plot*.2d.hdf5
plot*.3d.hdf5
plotCustom*hdf5
chk*.2d.hdf5
diff*.hdf5
err*.hdf5

postproc_A*/
postproc_B*/
postproc_E*/
postproc_F*/
SAVE_EGU/
tmp/
test/
1_misc_scripts/
save/
OLD/

visitlog.py
multi_runs_mine.py

*F_F.H

run.save
HmaxMin*
BmaxMin*
*.output
pout.*
inputs.compare*
*.ex
f/
o/
p/
d/
ramp_up.dat
ramp.out
postproc.dat

*lev_tooLarge
*convergence*.dat
time.table.*
list_files.dat
NOTES
list
*_bu

.DS_Store

Recharge.png
Discharge.png
*N*.png
*N*.curve
*CD*.png
*GH*.png
Br*.png
*P*png
*.agr
